[package]

# Note: Semantic Versioning is used: https://semver.org/
version = "0.1.0"

# Description
title = "OpenArmLab"
description = "Isaac Lab extension with OpenArm robot setups and base uni-/bimanual reaching tasks for simulation and RL experiments."
readme  = "docs/README.md"
repository = "https://github.com/makolon/OpenArmLab.git"
category = "robotics"
keywords = ["kit", "robotics", "learning", "ai"]

[python.pipapi]
requirements = [
    "numpy",
    "prettytable==3.3.0",
    "toml",
    "hidapi",
    "gymnasium==0.29.0",
    "trimesh",
    "websockets"
]

modules = [
    "numpy",
    "prettytable",
    "toml",
    "hid",
    "gymnasium",
    "trimesh",
    "websockets"
]

use_online_index=true

[core]
reloadable = false

[[python.module]]
name = "openarmlab"
